@using DataModel;
@{
    var admin = Session["admin"] as Account;
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/AdminLTE/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@admin.UserName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu chức năng</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản lý nhà phân phối</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Distributor", "Distributor")"><i class="fa fa-arrow-circle-o-right"></i> Thông tin nhà phân phối</a></li>
                    <li><a href="@Url.Action("Contract", "Contract")"><i class="fa fa-arrow-circle-o-right"></i> Thông tin hợp đồng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản lý đối tác</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("List", "PDistributor")"><i class="fa fa-arrow-circle-o-right"></i> Tìm kiếm đối tác</a></li>
                    <li><a href="@Url.Action("Create", "PDistributor")"><i class="fa fa-arrow-circle-o-right"></i> Thêm đối tác</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản lý đặt hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("List", "Order")"><i class="fa fa-arrow-circle-o-right"></i> Tìm kiếm đơn hàng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản lý khuyến mãi</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("List", "Promotion")"><i class="fa fa-arrow-circle-o-right"></i> Tìm kiếm khuyến mãi</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản lý sản phẩm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("List", "Product")"><i class="fa fa-arrow-circle-o-right"></i> Tìm kiếm sản phẩm</a></li>
                    <li><a href="@Url.Action("Create", "Product")"><i class="fa fa-arrow-circle-o-right"></i> Tạo sản phẩm mới</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản lý giao hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("List", "DeliveryOrder")"><i class="fa fa-arrow-circle-o-right"></i> Tìm kiếm đơn giao hàng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản lý đổi trả</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Return")"><i class="fa fa-arrow-circle-o-right"></i> Tìm kiếm phiếu đổi trả</a></li>
                    
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Báo Cáo Doanh Thu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("ListBill", "SalesReport")"><i class="fa fa-arrow-circle-o-right"></i> Hóa Đơn</a></li>
                    <li><a href="@Url.Action("ListOrder", "SalesReport")"><i class="fa fa-arrow-circle-o-right"></i> Đơn Đặt Hàng</a></li>
                    <li><a href="@Url.Action("ListDeliveryOrder", "SalesReport")"><i class="fa fa-arrow-circle-o-right"></i> Đơn Giao Hàng</a></li>
                    <li><a href="@Url.Action("BusinessReport", "SalesReport")"><i class="fa fa-arrow-circle-o-right"></i> Báo Cáo Kinh Doanh</a></li>
                    <li><a href="@Url.Action("CommodityAllocationReport", "SalesReport")"><i class="fa fa-arrow-circle-o-right"></i> Báo Cáo Phân Bổ Hàng Hóa</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Thống Kê</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Statistic", "SalesReport")"><i class="fa fa-arrow-circle-o-right"></i> Tổng Quan</a></li>
                    <li><a href="@Url.Action("StatisticCompare", "SalesReport")"><i class="fa fa-arrow-circle-o-right"></i> So Sánh</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
