@using DataModel;
    <!-- banner -->
@{ 
    var user = Session["user"] as Account;
    var admin = Session["admin"] as Account;
}

<div class="header-w3layoutstop">
    <div class="container">
        <div class="hdr-w3left navbar-left">
            <p><span class="fa fa-mobile"></span> 0123 456 789 </p>
        </div>
        <div class="search-grid">
            <form action="#" method="post">
                <input type="text" placeholder="Subscribe" class="big-dog" name="Subscribe" required="">
                <button class="btn1"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- navigation -->
<div class="nav-links">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><h1>VITAMILK</h1></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav link-effect">
                    <li class="active"><a href="/">Trang chủ</a></li>
                    <li><a href="javascript:">Về chúng tôi</a></li>
                    <li><a href="javascript:">Sản phẩm</a></li>
                    @if (user == null && admin == null)
                    {
                        <li><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                    }
                    @if (user != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span data-hover="Short Codes">Chức năng</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a href="@Url.Action("Create", "Order")">Tạo đơn hàng mới</a></li>
                                <li><a href="@Url.Action("Create", "ReturnRequest")">Tạo đơn đổi trả</a></li>
                                <li><a href="@Url.Action("Logout", "Account")">Đăng xuất</a></li>
                            </ul>
                        </li>
                    }
                    @if (admin != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span data-hover="Short Codes">Chức năng</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a href="@Url.Action("List", "Order")">Danh sách đơn hàng</a></li>
                                <li><a href="@Url.Action("Logout", "Account")">Đăng xuất</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- /navigation -->