@model SML_QLNPP.Models.CreateDeliveryOrderViewModel
@{
    Layout = "~/Views/Shared/_ALayout.cshtml";
    ViewBag.Title = "Create";
    var ListSataff = new List<DataModel.Staff>();
    var ListAdd = new List<SelectListItem>();
    if(ViewBag.Staff !=null)
    {
        foreach (var item in ViewBag.Staff)
        {
            if (item.staffName == null)
            {
                break;
            }
            item.staffName = item.idStaff.ToString() + " - " + item.staffName.ToString();
            ListSataff.Add(item);
        }
    }

    if(ViewBag.Storage !=null)
    {
        foreach (var item in ViewBag.Storage)
        {
            SelectListItem add = new SelectListItem();
            if (item.HouseNumber_Street != null)
            {
                add.Text += item.HouseNumber_Street.ToString() + ", ";
            }
            if (item.Ward_Commune != null)
            {
                add.Text += item.Ward_Commune.ToString() + ", ";
            }
            if (item.District != null)
            {
                add.Text += item.District.ToString() + ", ";
            }
            if (item.City != null)
            {
                add.Text += item.HouseNumber_Street.ToString();
            }
            add.Value = add.Text;
            ListAdd.Add(add);
        }
    }
}

@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DeliveryOrder/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DeliveryOrder/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DeliveryOrder/create.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/DeliveryOrder/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DeliveryOrder/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DeliveryOrder/create.js"></script>
}

@using (Html.BeginForm("Create", "DeliveryOrder", FormMethod.Post))
{
    <div class="box box-info">
        <div class="box-header with-border">
            @{
                if (ViewBag.msg != null)
                {
                    if (ViewBag.types == 1)
                    {
                        <div class="alert alter-warning"><strong>@ViewBag.msg</strong></div>
                    }
                    else if (ViewBag.types == 2)
                    {
                        <div class="alert alter-success"><strong>@ViewBag.msg</strong></div>
                    }

                }
            }
            <h3 class="box-title">Thông tin giao hàng</h3>
        </div>

        <div class="box-body">
            @*<div class="col-md-3 form-group">
                    @Html.Label("Mã giao hàng:")
                    @Html.TextBoxFor(model => model.idDeliveryOrder, new { @class = "form-control", @readonly = "readony" })
                </div>*@
            <div class="col-md-3 form-group">
                @Html.Label("Mã đơn hàng:")
                @Html.TextBoxFor(model => model.idOrder, new { @class = "form-control", @readonly = "readony" })
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("Mã/Tên nhân viên giao:")
                @Html.DropDownListFor(model => model.idStaff, new SelectList(ListSataff, "idStaff", "staffName"), new { @class = "form-control" })
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("Mã nhà phân phối:")
                @Html.TextBoxFor(model => model.idDistributor, new { @class = "form-control", @readonly = "readony" })
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("Tên nhà phân phối:")
                @Html.TextBoxFor(model => model.distributorName, new { @class = "form-control", @readonly = "readony" })
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("Hình thức giao:")
                <input type="text" value="@(Model.DeliveryType == false ? "Tự túc" : "Vitamilk giao")" class="form-control" readonly />
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("Hình thức thanh toán:")
                <input type="text" value="@(Model.PaymentType == false ? "Tiền mặt" : "Thẻ")" class="form-control" readonly />
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("Người liên hệ giao:")
                @Html.TextBoxFor(model => model.recipient, new { @class = "form-control", @readonly = "readony" })
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("SĐT giao:")
                @Html.TextBoxFor(model => model.recipientPhone, new { @class = "form-control", @readonly = "readony" })
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("Ngày giao dự kiến:")
                <input type="text" value="@Convert.ToDateTime(@Model.estimateDateOfDelivery).ToString("dd/MM/yyyy")" class="form-control" readonly />
            </div>
            <div class="col-md-3 form-group">
                @Html.Label("Nơi giao:")
                @Html.DropDownListFor(model => model.deliveryAdd, ListAdd, new { @class = "form-control" })
            </div>
@*
            <div class="col-md-3 form-group">
                @Html.Label("Ngày giao:")
                @Html.TextBoxFor(model => model.deliveryDate, new {@type = "date", @class = "form-control", @value = DateTime.Now })
             </div>

         <div class="col-md-3">
             <label>Tình trạng: </label>
             @{
                 @Html.DropDownList("Trạng thái", new List<SelectListItem> {
                    new SelectListItem { Text = "Chưa kiểm kê", Value = "5"}
    }, new { @class = "form-control", @readonly = "readony" })
             }
         </div>*@
            <div class="col-md-3 form-group">
                @Html.Label("Mô tả")
                @Html.TextBoxFor(model => model.description, new { @class = "form-control" })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Danh sách sản phẩm giao</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="col-sm-12">
                            <table id="dorder-list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th>ID SP</th>
                                        <th>Tên SP</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th>Số lượng KM</th>
                                        <th>Thành Tiền(VNĐ)</th>
                                        <th>Ghi chú(7)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ if (Model.DetailedDeliveryOrder !=null)
                                        {
                                            var dataID = 0;
                                            foreach (var item in Model.DetailedDeliveryOrder)
                                            {
                                                    <tr row-id="@dataID">
                                                        <td style="display:none;"><input type="hidden" name="@("DetailedDeliveryOrder[" + dataID + "].idDeliveryOrder")" value="@item.idDeliveryOrder" /></td>
                                                        <td style="display:none;"><input type="hidden" name="@("DetailedDeliveryOrder[" + dataID + "].idProduct")" value="@item.idProduct" /></td>
                                                        <td style="display:none;"><input type="hidden" name="@("DetailedDeliveryOrder[" + dataID + "].quantity")" value="@item.quantity" /></td>
                                                        <td style="display:none;"><input type="hidden" name="@("DetailedDeliveryOrder[" + dataID + "].promoQuantity")" value="@item.promoQuantity" /></td>
                                                        <td name="idProduct">@item.idProduct</td>
                                                        <td name="@("DetailedDeliveryOrder[" + dataID + "].Product.ProductName")" value="@item.Product.ProductName">@item.Product.ProductName</td>
                                                        <td name="Price">@string.Format("{0:0,0}", @item.Product.Price)</td>
                                                        <td name="quantity">@item.quantity</td>
                                                        <td name="promoQuantity">@item.promoQuantity</td>
                                                        <td name="total">@string.Format("{0:0,0}", @item.Product.Price * @item.quantity)</td>
                                                        <td name="note"><input type="text" name="@("DetailedDeliveryOrder[" + dataID + "].note")" value="@item.note" /></td>
                                                    </tr>
                                                dataID += 1;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            @Html.TextBoxFor(model => model.totalPurchase, new {@type = "hidden" })
                            <h3 style="text-align:center; font-weight: bold">Tổng tiền: <label id="totalPurchase">@string.Format("{0:0,0}", Model.totalPurchase)</label> (VNĐ)</h3>      
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top: 5px;margin-bottom: 5px; text-align: center;" id="btnControll">
                            <input type="submit" value="Lưu" class="btn btn-default" style="margin-right: 5px;" id="btnCreate" />
                            <input type="button" value="Hủy" class="btn btn-default" style="margin-right: 5px;" id="btnCancell" />
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </div>
    </div>
                    }
