@model DataModel.DeliveryOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}
@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DeliveryOrder/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DeliveryOrder/details.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/DeliveryOrder/datatables.min.js"></script>
    <script>
        var table = $('#dorder-list').DataTable();
    </script>
    <script type="text/javascript" src="~/Scripts/DeliveryOrder/details.js"></script>
}


<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin giao hàng</h3>
    </div>
    <div class="box-body">
        <div class="col-md-6 form-group">
            <label>Mã giao hàng số:</label>
            <input type="text" value="@Model.idDeliveryOrder" id="idDelivery" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Mã đơn hàng:</label>
            <input type="text" value="@Model.Order.idOrder" id="idOrder" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Mã nhân viên giao:</label>
            <input type="text" value="@Model.idStaff" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Tên nhân viên giao: </label>
            <input type="text" value="@Model.Staff.staffName" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Mã nhà phân phối:</label>
            <input type="text" value="@Model.idDistributor" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Tên nhà phân phối: </label>
            <input type="text" value="@Model.Distributor.name" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Hình thức giao: </label>
            <input type="text" value="@(Model.Order.DeliveryType == false ? "Tự túc" : "Vitamilk giao")" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Hình thức thanh toán: </label>
            <input type="text" value="@(Model.Order.PaymentType == false ? "Tiền mặt" : "Thẻ")" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Người liện hệ giao: </label>
            <input type="text" value="@Model.Order.Consignee.Name" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Số điện thoại giao: </label>
            <input type="text" value="@Model.Order.Consignee.PhoneNumber" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Ngày giao dự kiến: </label>
            <input type="text" value="@Convert.ToDateTime(@Model.Order.EstimateDateOfDelivery).ToString("dd/MM/yyyy")" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Địa chỉ giao: </label>
            <input type="text" value="@Model.deliveryAdd" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Ngày giao: </label>
            <input type="text" value="@Convert.ToDateTime(@Model.deliveryDate).ToString("dd/MM/yyyy")" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label>Cập nhật gần đây: </label>
            <input type="text" value="@Convert.ToDateTime(@Model.updateDate).ToString("dd/MM/yyyy")" readonly />
        </div>
        <div class="col-md-6">
            <label>Tình trạng: </label>
            <select class="" id="status">
                @{
                    if (Model.status == 5)
                    {
                        <option value="1">Đang giao</option>
                        <option value="3">Kiểm kê thiếu</option>
                        <option value="5" selected="selected">Chưa kiểm kê</option>

                    }
                    else
                    {
                        <option value="1" @(Model.status == 1 ? "selected='selected'" : "")>Đang giao</option>
                        <option value="2" @(Model.status == 2 ? "selected='selected'" : "")>Đã giao</option>
                        <option value="3" @(Model.status == 3 ? "selected='selected'" : "")>Kiểm kê thiếu</option>
                        <option value="4" @(Model.status == 4 ? "selected='selected'" : "")>Bị từ chối giao</option>
                    }
                }

            </select>
        </div>
        <div class="col-md-6 form-group">
            <label>Mô tả tình trạng: </label>
            <input type="text" value="@Model.description" style="min-width: 400px" id="description" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">Danh sách sản phẩm giao</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="col-sm-12">
                        <table id="dorder-list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>ID SP</th>
                                    <th>Tên SP</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành Tiền (VNĐ)</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DetailedDeliveryOrders)
                                {
                                    <tr>
                                        <td>@item.idProduct</td>
                                        <td>@item.Product.ProductName</td>
                                        <td>@string.Format("{0:0,0}", @item.Product.Price)</td>
                                        <td>@item.quantity</td>
                                        <td>@string.Format("{0:0,0}", @item.Product.Price * @item.quantity)</td>
                                        <td>@item.note</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <h2 style="text-align:center; font-weight: bold">Tổng tiền: @string.Format("{0:0,0}", Model.totalPurchase)</h2>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="margin-top: 5px;margin-bottom: 5px; text-align: center;" id="btnControll">
                        @{
                            if (Model.status == 5)
                            {
                                <input type="button" value="Xác nhận" class="btn" style="display:block; margin: 0 auto;" id="btnComfirm" />
                            }
                            else
                            {
                                <input type="button" value="Cập nhật" class="btn" style="margin-right: 5px;" id="btnUpdate" />
                                <input type="button" value="Lập hóa đơn" class="btn" style="margin-left: 5px;" id="btnCreateBill" />
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
</div>








@*<div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-md-10">
                <div class="well">
                    @{if (Model != null)
                        {
                            <h3 style="text-align: center; font-weight: bold" value="@Model.idDeliveryOrder" id="idDelivery">CHI TIẾT ĐƠN GIAO HÀNG SỐ: @Model.idDeliveryOrder</h3>
                            <div class="panel-group">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Thông tin giao hàng</div>
                                    <div class="panel-body">
                                        <div class="row" style="margin: 0; padding:2px">
                                            <div class="col-md-6 form-group">
                                                <label>Mã nhân viên giao:</label>
                                                <input type="text" value="@Model.idStaff" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Tên nhân viên giao: </label>
                                                <input type="text" value="@Model.Staff.staffName" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Mã nhà phân phối:</label>
                                                <input type="text" value="@Model.idDistributor" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Tên nhà phân phối: </label>
                                                <input type="text" value="@Model.Distributor.name" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Hình thức giao: </label>
                                                <input type="text" value="@(Model.Order.DeliveryType == false ? "Tự túc" : "Vitamilk giao")" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Hình thức thanh toán: </label>
                                                <input type="text" value="@(Model.Order.PaymentType == false ? "Tiền mặt" : "Thẻ")" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Người liện hệ giao: </label>
                                                <input type="text" value="@Model.Order.Consignee.Name" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Số điện thoại giao: </label>
                                                <input type="text" value="@Model.Order.Consignee.PhoneNumber" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Ngày giao dự kiến: </label>
                                                <input type="text" value="@Convert.ToDateTime(@Model.Order.EstimateDateOfDelivery).ToString("dd/MM/yyyy")" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Địa chỉ giao: </label>
                                                <input type="text" value="@Model.deliveryAdd" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Ngày giao: </label>
                                                <input type="text" value="@Convert.ToDateTime(@Model.deliveryDate).ToString("dd/MM/yyyy")" readonly />
                                            </div>
                                            <div class="col-lg-4 col-md-6 form-group">
                                                <label>Cập nhật gần đây: </label>
                                                <input type="text" value="@Convert.ToDateTime(@Model.updateDate).ToString("dd/MM/yyyy")" readonly />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Tình trạng: </label>
                                                <select class="" id="status">
                                                    @{
                                                        if (Model.status == 5)
                                                        {
                                                            <option value="1">Đang giao</option>
                                                            <option value="3">Kiểm kê thiếu</option>
                                                            <option value="5" selected="selected">Chưa kiểm kê</option>

                                                        }
                                                        else
                                                        {
                                                            <option value="1">Đang giao</option>
                                                            <option value="2" selected="@(Model.status == 2 ? "selected" : "")">Đã giao</option>
                                                            <option value="4" selected="@(Model.status == 4 ? "selected" : "")">Bị từ chối giao</option>
                                                        }
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Mô tả tình trạng: </label>
                                                <input type="text" value="@Model.description" style="min-width: 400px" id="description"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                        <div class="row mgt">
                                            <div class="col-md-12">
                                                <h3 style="text-align:center; font-weight: bold">Danh sách sản phẩm giao</h3>
                                                <table id="dorder-list" class="cell-border" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID SP</th>
                                                            <th>Tên SP</th>
                                                            <th>Đơn giá</th>
                                                            <th>Số lượng</th>
                                                            <th>Thành Tiền (VNĐ)</th>
                                                            <th>Ghi chú</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>ID SP</th>
                                                            <th>Tên SP</th>
                                                            <th>Đơn giá</th>
                                                            <th>Số lượng</th>
                                                            <th>Thành tiền (VNĐ)</th>
                                                            <th>Ghi chú</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        @foreach (var item in Model.DetailedDeliveryOrders)
                                                        {
                                                            <tr>
                                                                <td>@item.idProduct</td>
                                                                <td>@item.Product.ProductName</td>
                                                                <td>@string.Format("{0:0,0}", @item.Product.Price)</td>
                                                                <td>@item.quantity</td>
                                                                <td>@string.Format("{0:0,0}", @item.Product.Price * @item.quantity)</td>
                                                                <td>@item.note</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <h2 style="text-align:center; font-weight: bold">Tổng tiền: @string.Format("{0:0,0}", Model.totalPurchase)</h2>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"  style="margin-top: 5px;margin-bottom: 5px; text-align: center;" id="btnControll">
                                                @{
                                                    if (Model.status == 5)
                                                    {
                                                        <input type="button" value="Xác nhận" class="btn" style="display:block; margin: 0 auto;" id="btnComfirm"/>
                                                    }
                                                    else
                                                    {
                                                        <input type="button" value="Cập nhật" class="btn" style="margin-right: 5px;" id="btnUpdate"/>
                                                        <input type="button" value="Lập hóa đơn" class="btn" style="margin-left: 5px;"id="btnCreateBill"/>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                                                        }
                                                        else
                                                        {
                                                            <h3>Dữ liệu không tồn tại hoặc bị lỗi</h3>
                                                        }
                    }

                </div>
            </div>
        </div>
    </div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDeliveryOrder }) |
    @Html.ActionLink("Back to List", "List")
</p>
