@model SML_QLNPP.Models.DistributorViewModel
@{
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

@{
    var check = ViewBag.checkID;
}

@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/Order/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/datatables.min.js"></script>    
    <script>
        $('#dis-list').DataTable({
            "oLanguage": {
                "oPaginate": {
                    "sNext": "Tiếp",
                    "sPrevious": "Trước"
                },
                "sInfo": "Hiển thị _START_ đến _END_ trên _TOTAL_ nhà phân phối",
                "sZeroRecords": "Không tìm thấy nhà phân phối",
                "sInfoEmpty": ""
            },
            "searching": false,
            "bLengthChange": false,
            //"bInfo": false
        });
    </script>
}

<div class="box box-info">
    @using (Html.BeginForm("DistributorSearch", "Distributor", FormMethod.Get))
    {
        <div class="box-body" style="text-align: right">
            <label> Tìm kiếm </label>
            @Html.TextBoxFor(model => model.id)
            <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    }

</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h2 class="box-title">Danh sách nhà phân phối</h2>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="col-sm-12">
                        @if (check == false)
                        {
                            <strong style="color:red"> Mã nhà phân phối không hợp lệ </strong>
                        }
                        else
                        {
                            <table id="dis-list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th>Mã nhà phân phối</th>
                                        <th>Tên công ty</th>
                                        <th>Địa chỉ</th>
                                        <th>Khu vực</th>
                                        <th>Độc quyền</th>
                                        <th>Số điện thoại</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listDis)
                                    {
                                        <tr>
                                            <td>@item.Dis.idDistributor</td>
                                            <td>@item.Dis.name</td>
                                            <td>@item.Dis.address</td>
                                            <td>@item.Area</td>
                                            @if (item.Dis_Type == true)
                                            {
                                                <td> <input type="checkbox" name="dis_Type" value=1 checked disabled></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>@item.Dis.phone</td>
                                            <td>
                                                @Html.ActionLink("Chi tiết", "DetailedDistributor", new { id = @item.Dis.idDistributor }, new { @class = "btn btn-primary" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
</div>


