@model SML_QLNPP.Models.SalesReportViewModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "ListBill";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}
@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/Order/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Promotion/promotion.js"></script>
}


<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin tìm kiếm</h3>
    </div>
    <div class="box-body">
        <div class="col-md-2">
            <label>-----Tháng-----</label>
            <select id="month">
                <option value="volvo">Chọn tháng...</option>
                <option value="1">Tháng 1</option>
                <option value="2">Tháng 2</option>
                <option value="3">Tháng 3</option>
                <option value="4">Tháng 4</option>
                <option value="5">Tháng 5</option>
                <option value="6">Tháng 6</option>
                <option value="7">Tháng 7</option>
                <option value="8">Tháng 8</option>
                <option value="9">Tháng 9</option>
                <option value="10">Tháng 10</option>
                <option value="11">Tháng 11</option>
                <option value="12">Tháng 12</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>------Qúy-----</label>
            <select id="quarter">
                <option value="volvo">Chọn quý...</option>
                <option value="1">Quý 1</option>
                <option value="2">Quý 2</option>
                <option value="3">Quý 3</option>
                <option value="4">Quý 4</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>------Năm------</label>
            <select id="year">
                <option value="volvo">Chọn năm...</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>Nhà Phân Phối</label>
            <select>
                <option value="volvo">Chọn nhà phân phối...</option>
                <option value="saab">Nhà Phân Phối A</option>
                <option value="opel">Nhà Phân Phối B</option>
                <option value="audi">Nhà Phân Phối C</option>
            </select>

            <select name="Chọn Nhà Phân Phối">
	            @foreach (var item in Model.Bill) {
		            <option value="@item.idDistributor">@item.Distributor.name</option>
	            }
            </select>


        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary" id="search">Tìm kiếm kết quả</button>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Danh Sách Hóa Đơn</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="col-sm-12">
                        <table id="order-list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Mã Nhân Viên</th>
                                    <th>Mã Nhà Phân Phối</th>
                                    <th>Tên Nhà Phân Phối</th>
                                    <th>Ngày Lập</th>
                                    <th>Tổng Tiền</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Mô Tả</th>
                                </tr>
                            </thead>
                            <tbody>
                                 @foreach (var item in Model.Bill)
                                 {
                                    <tr>
                                        <td>@item.idBill</td>
                                        <td>@item.idStaff</td>
                                        <td>@item.idDistributor</td>
                                        <td>@item.Distributor.name</td>
                                        <td>@item.createdDate</td>
                                        <td>@item.purchase</td>
                                        <td>@item.types</td>
                                        <td>@item.description</td>
                                    </tr>
                                 }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
</div>

