@model DataModel.Promotion
@{
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/detail.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/Order/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/datatables.min.js"></script>
    <script>
        var table = $('#list').DataTable();
        var table = $('#list2').DataTable();
    </script>

}




<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin nhà phân phối</h3>
    </div>
    <div class="box-body">
        <div class="col-md-2">
            <label>Mã khuyến mãi: </label>
            <input type="text" value="@Model.idPromotion" disabled />
        </div>
        <div class="col-md-2">
            <label>Ngày bắt đầu: </label>
            <input type="text" value="@Model.startDate" disabled />
        </div>
        <div class="col-md-2">
            <label>Ngày kết thúc: </label>
            <input type="text" value="@Model.endDate" disabled />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">Danh sách sản phẩm yêu cầu</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="col-sm-12">
                        <table id="list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>ID SP</th>
                                    <th>Tên SP</th>
                                    <th>Số lượng YC</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PromotionProducts)
                                {
                                    <tr>
                                        <td>@item.idProduct</td>
                                        <td>@item.Product.ProductName</td>
                                        <td>@item.Quantity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Danh sách sản phẩm tặng</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="col-sm-12">
                        <table id="list2" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>ID SP</th>
                                    <th>Tên SP</th>
                                    <th>Số lượng tặng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PromotionGifts)
                                {
                                    <tr>
                                        <td>@item.idProduct</td>
                                        <td>@item.Product.ProductName</td>
                                        <td>@item.quantity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
</div>
