@model DataModel.Bill

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}
@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DeliveryOrder/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/Bill/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Bill/bill.js"></script>
}
<h2>Hóa Đơn</h2>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin hóa đơn</h3>
    </div>
@using (Html.BeginForm("Create", "Bill", FormMethod.Post))
{
    <div class="box-body">
        <div class="col-md-6 form-group">
            @Html.Label("Mã nhân viên:")
            @Html.TextBox("idStaff", "", new { @class = "form-control" })
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Mã giao hàng số:")
            @Html.TextBox("idDeliveryOrder", "", new { @class = "form-control" })
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Mã nhà phân phối:")
            @Html.TextBox("idDistributor", "", new { @class = "form-control" })
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Ngày lập:")
            @Html.TextBox("createdDate", "", new { @type = "date", @class = "form-control" , @readonly = "readonly"})
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Loại hóa đơn:")
            @Html.DropDownList("types", new List<SelectListItem> {
           new SelectListItem { Text = "Thanh toán giao hàng", Value = "1", Selected = true },
       new SelectListItem { Text = "Thanh toán công nợ", Value = "2"}
       }, new { @class = "form-control" })
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Tiền thu:")
            @Html.TextBox("purchase", "", new { @type = "number", @class = "form-control", @min = 0 })
        </div>
        <div class="col-md-6 form-group">
            @Html.Label("Mô tả:")
            @Html.TextBox("description", "", new { @class = "form-control" })
        </div>
        <div class="col-md-12 form-group">
            <input type="submit" value="Lập hóa đơn" class="btn" style="margin-right: 5px;" id="btnCreate" />
        </div>
    </div>
}
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>