@model DataModel.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.purchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.types)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.types)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryOrder.recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryOrder.recipient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distributor.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distributor.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.staffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.staffName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idBill }) |
    @Html.ActionLink("Back to List", "Index")
</p>
