@model IEnumerable<DataModel.Bill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.purchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.types)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryOrder.recipient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distributor.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.staffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.purchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.types)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryOrder.recipient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distributor.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.staffName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idBill }) |
            @Html.ActionLink("Details", "Details", new { id=item.idBill }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idBill })
        </td>
    </tr>
}

</table>
