@model SML_QLNPP.Models.CreateProductViewModel
@using Newtonsoft.Json;
@{
    //var success = ViewBag.success as string;
    var fail = ViewBag.fail as string;
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listTypes = new List<SelectListItem>();
    listTypes.Add(new SelectListItem { Text = "", Value = "", Selected=true });

    List<SelectListItem> listUnits = new List<SelectListItem>();
    listUnits.Add(new SelectListItem { Text = "", Value = "", Selected = true });

}

@foreach (var type in Model.ProductTypes)
{
    listTypes.Add(new SelectListItem { Text = @type.productTypeName, Value = @type.idProductType.ToString() });
}

@foreach (var unit in Model.Units)
{
    listUnits.Add(new SelectListItem { Text = @unit.unitName, Value = @unit.idUnit.ToString() });
}

    @section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/detail.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

    @section scripts{   
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

}

<div class="container-fluid">
    <div class="row">
        @Html.Partial("~/Views/Shared/_SidebarAdmin.cshtml")
        <div class="col-sm-10 col-md-10">
            @if (fail != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Thất bại!</strong> @fail
                </div>
            }
            <div class="well">
                @using (Html.BeginForm("Create", "Product", FormMethod.Post))
                {
                    <div class="panel-group">
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>Tạo sản phẩm mới</b></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2 form-group">
                                        <label>Mã sản phẩm </label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <label>@Model.IdProduct</label>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Tên sản phẩm </label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        @Html.TextBoxFor(p => p.ProductName, new { @class = "form-control", @required= "required" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Đơn giá (VNĐ)</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        @Html.TextBoxFor(pr => pr.Price, new { @class = "form-control", @type="number", @min="1", @required = "required" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Loại sản phẩm </label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        @Html.DropDownListFor(model => model.ProductType, listTypes, new { @class = "form-control", @required = "required" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Đơn vị tính </label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        @Html.DropDownListFor(model => model.Unit, listUnits, new { @class = "form-control", @required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <input type="submit" style ="font-weight: bold; display: block; margin: 0 auto;" class="btn btn-info" value="Lưu sản phẩm" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
